<template>
    <appbs-layout>
        <template #header>
            Dashboard
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <welcome />
                </div>
            </div>
        </div>
    </appbs-layout>
</template>

<script>
    import AppbsLayout from '@/Layouts/AppbsLayout'
    import Welcome from '@/Jetstream/Welcome'

    export default {
        components: {
            AppbsLayout,
            Welcome,
        },
    }
</script>
