<template>
  <appbs-layout>
    <template #header>
      Manage Posts
    </template>

    <div v-if="!isOpen">
      <div class="row mb-3">
        <div class="col-lg-6">
          <button @click="openForm()" class="btn btn-primary"><i class="bi-plus-square"></i></button>
        </div>
        <div class="col-lg-6 text-right">
          <div class="input-group">
            <input type="text" class="form-control" v-model="filterString" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text" v-if="filterString">
                <span @click="resetFilter()"><span class="bi-x"></span></span>
              </span>
            </div>
          </div>

        </div>
      </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" width="5%">#</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col" width="20%">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr v-for="row in data">
        <td>{{ row.id }}</td>
        <td>{{ row.title | stripTate }}</td>
        <td>{{ row.body | stripTate }}</td>
        <td>
          <button @click="edit(row)" class="btn btn-primary"><i class="bi-pencil"></i></button>
          <button @click="deleteRow(row)" class="btn btn-danger"><i class="bi-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    </div>

    <div v-if="isOpen">

      <h2 v-if="!editMode">Create a Post</h2>
      <h2 v-if="editMode">Edit a Post</h2>

      <form @submit.prevent="insertOrUpdate(form)">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="titleInput" v-model="form.title">
          <label for="titleInput" class="form-label">Post Title</label>
          <div v-if="$page.errors.title" class="form-text text-danger">{{ $page.errors.title[0] }}</div>
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control" v-model="form.body" id="bodyInput" style="height: 100px"></textarea>
          <label for="bodyInput">Post Body</label>
          <div v-if="$page.errors.body" class="form-text text-danger">{{ $page.errors.body[0] }}</div>
        </div>

        <div class="col-12">
          <button @click="closeForm()" type="button" class="btn btn-secondary"><i class="bi-backspace"></i></button>
          <button type="button" class="btn btn-primary" @click="insertOrUpdate(form)"><i class="bi-archive"></i></button>
        </div>

      </form>

    </div>

  </appbs-layout>
</template>
<script>
import AppbsLayout from '@/Layouts/AppbsLayout'

export default {
  components: {
    AppbsLayout,
  },
  props: ['data', 'searchString', 'errors'],
  data () {
    return {
      filterString: this.searchString,
      editMode: false,
      isOpen: false,
      form: {
        title: null, body: null
      },
    }
  },
  watch: {
    filterString: {
      handler: window._.debounce(function() {
        let query = {
          search: this.filterString
        }
        this.$inertia.replace(this.route(route().current(), query));
      }, 150),
      deep: true,
    },
  },
  computed: {
    noErrors: function() {
      let keys = Object.keys(this.$page.errors);
      return keys.length === 0;
    }
  },
  methods: {
    resetFilter: function () {
      this.filterString = '';
      this.filter();
    },
    openForm: function () {
      this.isOpen = true;
    },
    closeForm: function () {
      this.isOpen = false;
      this.form = window._.mapValues(this.form, () => null);
      this.editMode = false;
    },
    edit: function (data) {
      this.form = Object.assign({}, data);
      this.editMode = true;
      this.openForm();
    },
    insertOrUpdate(data) {
      if (!this.editMode) {
        this.$inertia.post('/posts', data, {
          onFinish: () => {
            if (this.noErrors) {
              this.closeForm();
            }
          },
        });
      } else {
        data._method = 'PUT';
        this.$inertia.post('/posts/' + data.id, data, {
          onFinish: () => {
            if (this.noErrors) {
              this.closeForm();
            }
          },
        });
      }
    },
    deleteRow: function (data) {
      if (!confirm('Are you sure want to delete?')) {
        return;
      }
      data._method = 'DELETE';
      this.$inertia.post('/posts/' + data.id, data);
    },
  }
}
</script>