<template>
    <appbs-layout>
        <template #header>
                Profile
        </template>

        <div>
            <div class="">
                <div v-if="$page.jetstream.canUpdateProfileInformation">
                    <update-profile-information-form :user="$page.user" />

                    <jet-section-border />
                </div>

                <div v-if="$page.jetstream.canUpdatePassword">
                    <update-password-form class="" />

                    <jet-section-border />
                </div>




                <delete-user-form class="" />
            </div>
        </div>
    </appbs-layout>
</template>

<script>
    import AppbsLayout from '@/Layouts/AppbsLayout'
    import DeleteUserForm from './DeleteUserForm'
    import JetSectionBorder from '@/Jetstream/SectionBorder'
    import LogoutOtherBrowserSessionsForm from './LogoutOtherBrowserSessionsForm'
    import TwoFactorAuthenticationForm from './TwoFactorAuthenticationForm'
    import UpdatePasswordForm from './UpdatePasswordForm'
    import UpdateProfileInformationForm from './UpdateProfileInformationForm'

    export default {
        props: ['sessions'],

        components: {
            AppbsLayout,
            DeleteUserForm,
            JetSectionBorder,
            LogoutOtherBrowserSessionsForm,
            TwoFactorAuthenticationForm,
            UpdatePasswordForm,
            UpdateProfileInformationForm,
        },
    }
</script>
