<template>
    <modal :id="id" :max-width="maxWidth">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" :id="id + 'Label'"><slot name="title"></slot></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <slot name="content"></slot>
            </div>
            <div class="modal-footer">
              <slot name="footer"></slot>
            </div>
          </div>
        </div>
    </modal>
</template>

<script>
    import Modal from './Modal'
    export default {
        components: {
            Modal,
        },
        props: {
            maxWidth: {
                default: '2xl'
            },
            id: {
                default: 'theModal'
            },
            closeable: {
                default: true
            },
        },

        methods: {

        }
    }
</script>
