<template>
    <div class="">
        <jet-section-title>
            <template #title><slot name="title"></slot></template>
            <template #description><slot name="description"></slot></template>
        </jet-section-title>

        <div class="">
            <form @submit.prevent="$emit('submitted')">
                <div class="">
                    <div class="">
                        <div class="">
                            <slot name="form"></slot>
                        </div>
                    </div>

                    <div class="" v-if="hasActions">
                        <div class="row mt-3 mb-5">
                        <div class="col-lg-12">
                          <slot name="actions"></slot>
                        </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import JetSectionTitle from './SectionTitle'

    export default {
        components: {
            JetSectionTitle,
        },

        computed: {
            hasActions() {
                return !! this.$slots.actions
            }
        }
    }
</script>
