<template>
  <div :id="id" :class="'modal ' + maxWidthClass">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    maxWidth: {
      default: '2xl',
    }, id: {
      default: 'theModal',
    }
  },

  methods: {

  },

  watch: {

  },

  created () {

  },

  computed: {
    maxWidthClass () {
      return {
        'sm': 'max-w-sm', 'md': 'max-w-md', 'lg': 'max-w-lg', 'xl': 'max-w-xl', '2xl': 'max-w-2xl',
      }[this.maxWidth]
    },
  },
}
</script>
