<template>
    <div>

            <h3>
                <slot name="title"></slot>
            </h3>

            <p>
                <slot name="description"></slot>
            </p>

    </div>
</template>
