<template>
  <div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SlapApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <inertia-link class="nav-link" :class="route().current() == 'dashboard' ? 'active' : ''" aria-current="page" :href="route('dashboard')">Dashboard</inertia-link>
            </li>
            <li class="nav-item">
              <inertia-link class="nav-link" :class="route().current() == 'posts' ? 'active' : ''" :href="route('posts')">Posts</inertia-link>
            </li>
            <li class="nav-item">
              <inertia-link class="nav-link" :class="route().current() == 'profile.show' ? 'active' : ''" :href="route('profile.show')">Profile</inertia-link>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <!-- Page Heading -->
      <header>
        <h1>
          <slot name="header"></slot>
        </h1>
        <hr />
      </header>

      <!-- Page Content -->
      <main>
        <slot></slot>
      </main>




    </div>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">SlapApp &copy; Content and Coffee</span>
      </div>
    </footer>
  </div>
</template>

<script>
import JetApplicationMark from '@/Jetstream/ApplicationMark'
import JetDropdown from '@/Jetstream/Dropdown'
import JetDropdownLink from '@/Jetstream/DropdownLink'
import JetNavLink from '@/Jetstream/NavLink'
import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'

export default {
  components: {
    JetApplicationMark, JetDropdown, JetDropdownLink, JetNavLink, JetResponsiveNavLink,
  },

  data () {
    return {
      showingNavigationDropdown: false,
    }
  },

  methods: {
    switchToTeam (team) {
      this.$inertia.put(route('current-team.update'), {
        'team_id': team.id,
      }, {
        preserveState: false,
      })
    },

    logout () {
      axios.post(route('logout').url()).then(response => {
        window.location = '/'
      })
    },
  },
}
</script>
